*.iml
.gradle/
**/build/
captures/
.externalNativeBuild/
.cxx/
local.properties
.idea/caches/
.idea/libraries/
.idea/workspace.xml
.idea/modules.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
google-services.json
**/google-services.json
*.jks
*.keystore
keystore.properties
secrets.properties
.env
